page-login {

	@import url("https://fonts.googleapis.com/css?family=Raleway");

	html
	{
		-moz-user-select: -moz-none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -o-user-select: none;
	    user-select: none;
	}

	body
	{
	    // background: #333;
		color: #fff;
		font-family: 'Raleway';
		max-width: 100%;
	}

	.vertical-center {
	  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	  min-height: 100vh; /* These two lines are counted as one :-)       */

	  display: flex;
	  align-items: center;
	  justify-content: center;
	}

}